
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(51, 104, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 400px;
    height: 500px;
    background-color: rgb(241, 219, 219);
    position: relative;
    border-radius: 20px;
    
}

.container form{
    max-width: 100%;
    max-height: 100%;
    padding: auto;
    margin: 15px;
    background-color: rgb(7, 194, 188);
    border-radius: 11px;
    position: relative;
    top: 30px;
}
.displayScreen{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid;
    border-radius: 10px;
    background-color: gainsboro;
    display: block;
    font-size: 1.5rem;
    padding: 0 1rem;
}
button{
    width: 55px;
    padding: 15px;
    margin: 7px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 16px;
    text-align: center;
    background-color: #ccc;
    color: black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
}
.first-row .clear{
    width: 129px;
}
.clear:hover{
    background-color: black;
    color: white;
}
.enter{
    width: 129px;
    background-color: rgb(50, 50, 250);
}
.first-row button{
    background-color: #999;
}
.point, .pl-min{
    background-color: #999;
}
.percent, .power, .multiple{
    background-color: #999;
}
.division, .subtract, .plus{
    background-color: #999;
}
button:hover{
    background-color: rgb(21, 20, 20);
    color: white;
    border: 1px solid white;
    box-shadow: 2px 2px 5px white;
}

@media screen and (max-width:500px){
    .container{
        width: 300px;
        height: 400px;
    }
    .container form{
        margin: 5px;
        padding: 0;
        top: 15px;
        max-width: 100%;
        min-height: 330px;
    }
    button{
        width: 39.2px;
        padding: 9px;
        margin: 6px;
        font-size: 14px;
        text-align: center;
    }
    .first-row .clear{
        width: 95px;
    }
    .enter{
        width: 95px;
    }
}
